form#form {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px #ffb7ce;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 15px 20px;
  width: 400px;
}

form#form label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

form#form input[type="text"],
form#form input[type="number"] {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

form#form input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 5px;
  align-self: center;
}


form#form input[type="submit"] {
  grid-column: span 2;
  padding: 10px;
  background-color: #e1668d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

form#form input[type="submit"]:hover {
  background-color:  #c73c68;
}


#prods {
  margin-top: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#prods div {
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px #ffb7ce;
}


#prods button {
  background-color: #e1668d;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#prods button:hover {
  background-color: #c73c68;
}
